In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv(filepath_or_buffer = 'isoc_bde15dec.tsv', sep = "\t")

In [7]:
data.head()

,"unit,sizen_r2,indic_is,geo\time",2017,2016,2015,2014,2013,2012,2011,2010,2009
0,"PC_ENT,10_C10_18,E_AEBEU,AT",:,:,:,:,:,:,34,:,12
1,"PC_ENT,10_C10_18,E_AEBEU,BE",:,:,:,:,:,:,18,:,: u
2,"PC_ENT,10_C10_18,E_AEBEU,BG",2,:,3,:,1,:,1,:,1
3,"PC_ENT,10_C10_18,E_AEBEU,CY",9,:,18,:,9,:,16,:,21
4,"PC_ENT,10_C10_18,E_AEBEU,CZ",20,:,15,:,13,:,11,:,5